h1 {
  text-align: center;
  font-size: 68px;
  color: var(--white);
  /* -webkit-text-stroke: 2px var(--primary-color); */
}

h2 {
  text-align: center;
  color: var(--primary-color);
}

body{
  background-color: var(--black);
}